[Unit]
Description=Casa service
After=oxd-server.service
Requires=oxd-server.service

[Service]
Type=forking
ExecStart=/opt/dist/scripts/casa start
ExecStop=/opt/dist/scripts/casa stop
User=jetty
Group=jetty
TimeoutSec=450
ExecStartPre=/usr/bin/sleep 210

[Install]
WantedBy=multi-user.target
