[Unit]
Description=Idp service
After=oxauth.service opendj.service

[Service]
Type=forking
ExecStart=/opt/dist/scripts/idp start
ExecStop=/opt/dist/scripts/idp stop
User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
